{{- /*gotype: github.com/akamai/cli-terraform/pkg/providers/imaging.TFImagingData*/ -}}
terraform {
  required_providers {
    akamai = {
      source = "akamai/akamai"
      version = ">= 2.0.0"
    }
  }
  required_version = ">= 0.13"
}

provider "akamai" {
  edgerc = var.edgerc_path
  config_section = var.config_section
}

resource "akamai_imaging_policy_set" "policyset" {
  name        = "{{.PolicySet.Name}}"
  region      = "{{.PolicySet.Region}}"
  type        = "{{.PolicySet.Type}}"
  contract_id = "{{.PolicySet.ContractID}}"
}
{{- range .Policies }}
  {{- if not .JSON}}

    data "akamai_imaging_policy_{{$.PolicySet.Type | ToLower}}" "data_policy_{{.PolicyID | RemoveSymbols}}" {
    {{- $type := $.PolicySet.Type}}
    {{- with .Policy}}
      {{- if eq $type "IMAGE"}}
        {{- template "policy_image.gen.tmpl" .}}
        {{- template "PolicyInputImage" .}}
      {{- else if eq $type "VIDEO"}}
        {{- template "policy_video.gen.tmpl" .}}
        {{- template "PolicyInputVideo" .}}
      {{- end}}
    {{- end}}
    }
  {{- end}}
{{- end}}
{{- range .Policies }}

  resource "akamai_imaging_policy_{{$.PolicySet.Type | ToLower}}" "policy_{{.PolicyID | RemoveSymbols}}" {
  policy_id              = "{{.PolicyID}}"
  contract_id            = "{{$.PolicySet.ContractID}}"
  policyset_id           = akamai_imaging_policy_set.policyset.id
  activate_on_production = {{.ActivateOnProduction}}
  {{- if .JSON}}
    json                   = file("{{.JSON}}")
  {{- else}}
    json                   = data.akamai_imaging_policy_{{$.PolicySet.Type | ToLower}}.data_policy_{{.PolicyID | RemoveSymbols}}.json
  {{- end}}
  }
{{- end}}
