{{- /*gotype: github.com/akamai/cli-terraform/v2/pkg/providers/imaging.TFImagingData*/ -}}
variable "edgerc_path" {
  type = string
  default = "{{.EdgercPath}}"
}

variable "config_section" {
  type = string
  default = "{{.Section}}"
}
