{{- /*gotype: cli-terraform/pkg/providers/dns/dns.Data*/ -}}
variable "contract" {
    description = "contract id for zone creation"
}

variable "group" {
    description = "group id for zone creation"
}

variable "name" {
    description = "zone name"
}

output "zonename" {
    value = akamai_dns_zone.{{.BlockName}}.name
}

locals {
    zone = var.name
}

resource "akamai_dns_zone" "{{.BlockName}}" {
    contract = var.contractid
    group = var.groupid
    {{- range $name, $value := .ResourceFields}}
    {{$name}} = {{$value}}
    {{- end}}
}
