{{- /*gotype: cli-terraform/pkg/providers/dns/dns.Data*/ -}}
variable "contractid" {
    type    = string
    description = "contract id for zone creation"
}

variable "groupid" {
    type    = string
    description = "group id for zone creation"
}

variable "name" {
    type    = string
    description = "zone name"
}

output "zonename" {
    value = akamai_dns_zone.{{.BlockName}}.name
}
{{template "locals" "var.name"}}
{{template "resource" .}}