{{- /*gotype: cli-terraform/v2/pkg/providers/dns/dns.Data*/ -}}
{{- define "terraform"}}
terraform {
  required_version = ">= 1.0"
  required_providers {
    akamai = {
      source = "akamai/akamai"
      version = ">= 9.0.0"
    }
  }
}
{{- end}}
{{- define "locals"}}
locals {
    zone = {{.}}
}
{{- end}}
{{- define "resource"}}
resource "akamai_dns_zone" "{{.BlockName}}" {
    contract = var.contractid
    group = var.groupid
    zone = local.zone
    type = "{{.Type}}"
    masters = [{{range $i, $v := .Masters}}{{if $i}}, {{end}}"{{$v}}"{{end}}]
    comment = {{template "Text" .Comment}}
    sign_and_serve = {{.SignAndServe}}
    sign_and_serve_algorithm = "{{.SignAndServeAlgorithm}}"
    {{- with .OutboundZoneTransfer}}
    outbound_zone_transfer {
        acl = [{{range $i, $v := .ACL}}{{if $i}}, {{end}}"{{$v}}"{{end}}]
        enabled = {{.Enabled}}
        notify_targets = [{{range $i, $v := .NotifyTargets}}{{if $i}}, {{end}}"{{$v}}"{{end}}]
    {{- with .TSIGKey}}
        tsig_key {
            name = "{{.Name}}"
            algorithm = "{{.Algorithm}}"
            secret = "{{.Secret}}"
            }
    {{- end}}
    }
    {{- end}}
    {{- with .TSIGKey}}
    tsig_key {
        name = "{{.Name}}"
        algorithm = "{{.Algorithm}}"
        secret = "{{.Secret}}"
        }
    {{- end}}
    target = "{{.Target}}"
    end_customer_id = "{{.EndCustomerID}}"
}
{{end}}
{{define "resource-set"}}
resource "akamai_dns_record" "{{.BlockName}}" {
    zone = local.zone
    {{- range $name, $value := .ResourceFields}}
    {{$name}} = {{$value}}
    {{- end}}
}
{{end}}