variable "dnssection" {
    type    = string
    default = "default"
}
variable "contractid" {
    type    = string
    default = "%s"
}
// Notice: groupid unknown at time of import. Please update.
variable "groupid" {
    type    = string
    default = ""
}
