variable "zonename" {
    description = "zone name for this name record set config"
}

locals {
    zone = var.zonename
}

resource "akamai_dns_record" "{{.BlockName}}" {
    zone = local.zone
    {{- range $name, $value := .ResourceFields}}
    {{$name}} = {{$value}}
    {{- end}}
}
