{{- /*gotype: cli-terraform/pkg/providers/dns/dns.Data*/ -}}
{{template "terraform"}}
{{template "locals" printf "%q" .Zone}}

module "{{.BlockName}}" {
    source = "{{namedModulePath .BlockName .TFWorkPath}}"

    contract = var.contractid
    group = var.groupid
    name = local.zone
}
