{{- /*gotype: github.com/akamai/cli-terraform/v2/clientlists.TFData*/ -}}
terraform init
terraform import akamai_clientlist_list.list_{{.ClientList.ListID}} {{.ClientList.ListID}}
{{- if .ClientList.ProductionActivation.HasActivation}}
terraform import akamai_clientlist_activation.activation_{{.ClientList.ListID}}_PRODUCTION {{.ClientList.ListID}}:PRODUCTION
{{- end}}
{{- if .ClientList.StagingActivation.HasActivation}}
terraform import akamai_clientlist_activation.activation_{{.ClientList.ListID}}_STAGING {{.ClientList.ListID}}:STAGING
{{- end}}