{{- /*gotype: github.com/akamai/cli-terraform/iam.TFUserData*/ -}}
terraform init
{{range .TFUsers -}}
terraform import akamai_iam_user.iam_user_{{.ID}} {{.ID}}
{{end -}}
{{range .TFRoles -}}
    terraform import akamai_iam_role.role_id_{{.RoleID}} {{.RoleID}}
{{end -}}
{{range .TFGroups -}}
    terraform import akamai_iam_group.group_id_{{.GroupID}} {{.GroupID}}
{{end -}}
{{ if or (eq .Subcommand "all") (eq .Subcommand "allowlist") -}}
terraform import akamai_iam_ip_allowlist.allowlist ""
{{ if .TFAllowlist.CIDRBlocks -}}
terraform import akamai_iam_cidr_blocks.cidr_blocks ""
{{end -}}
{{end}}