{{- /*gotype: github.com/akamai/cli-terraform/pkg/providers/iam.TFData*/ -}}

{{ if eq .Subcommand "role" -}}
{{template "terraform_config.tmpl"}}
{{end}}
{{- range .TFRoles -}}
    resource "akamai_iam_role" "role_id_{{.RoleID}}" {
      name          = "{{.RoleName}}"
      description   = "{{escape .RoleDescription}}"
      granted_roles = {{formatIntList .GrantedRoles}}
    }

{{end}}