{{- /*gotype: github.com/akamai/cli-terraform/pkg/providers/iam.TFUserData*/ -}}
terraform {
  required_providers {
    akamai = {
      source = "akamai/akamai"
    }
  }
  required_version = ">= 0.13"
}

provider "akamai" {
  edgerc = var.edgerc_path
  config_section = var.config_section
}

resource "akamai_iam_user" "iam_user_{{.ID}}" {
  first_name         = "{{.FirstName}}"
  last_name          = "{{.LastName}}"
  email              = "{{.Email}}"
  country            = "{{.Country}}"
  phone              = "{{.Phone}}"
  enable_tfa         = {{.TFAEnabled}}
  contact_type       = "{{.ContactType}}"
  job_title          = "{{.JobTitle}}"
  time_zone          = "{{.TimeZone}}"
  secondary_email    = "{{.SecondaryEmail}}"
  mobile_phone       = "{{.MobilePhone}}"
  address            = "{{.Address}}"
  city               = "{{.City}}"
  state              = "{{.State}}"
  zip_code           = "{{.ZipCode}}"
  preferred_language = "{{.PreferredLanguage}}"
  session_timeout    = {{.SessionTimeOut}}
  auth_grants_json   = "{{escape .AuthGrants}}"
  lock               = {{.IsLocked}}
}