{{- /*gotype: github.com/akamai/cli-terraform/pkg/providers/iam.TFData*/ -}}

{{ if or (eq .Subcommand "user") (eq .Subcommand "all") -}}
{{template "terraform_config.tmpl"}}
{{end}}
{{- range .TFUsers -}}
    resource "akamai_iam_user" "iam_user_{{.ID}}" {
      first_name         = "{{escape .FirstName}}"
      last_name          = "{{escape .LastName}}"
      email              = "{{.Email}}"
      country            = "{{.Country}}"
      phone              = "{{.Phone}}"
      enable_tfa         = {{.TFAEnabled}}
      contact_type       = "{{.ContactType}}"
      job_title          = "{{escape .JobTitle}}"
      time_zone          = "{{.TimeZone}}"
      secondary_email    = "{{.SecondaryEmail}}"
      mobile_phone       = "{{.MobilePhone}}"
      address            =  {{template "Text" .Address}}
      city               = "{{.City}}"
      state              = "{{.State}}"
      zip_code           = "{{.ZipCode}}"
      preferred_language = "{{.PreferredLanguage}}"
      session_timeout    = {{.SessionTimeOut}}
      auth_grants_json   = "{{escape .AuthGrants}}"
      lock               = {{.IsLocked}}
    }

{{end -}}