{{- /*gotype: github.com/akamai/cli-terraform/v3/pkg/providers/cloudcertificates.TFData*/ -}}
variable "edgerc_path" {
  type = string
  default = "{{.EdgercPath}}"
}

variable "config_section" {
  type = string
  default = "{{.Section}}"
}