{{- /*gotype: github.com/akamai/cli-terraform/v2/pkg/providers/mtlskeystore.TFData*/ -}}
{{ if eq .Certificate.Signer "AKAMAI" -}}
import {
  to = akamai_mtlskeystore_client_certificate_akamai.{{.Certificate.ResourceName}}
  id = "{{.Certificate.ID}},{{.Certificate.GroupID}},{{.Certificate.ContractID}}"
}

{{- else -}}
import {
  to = akamai_mtlskeystore_client_certificate_third_party.{{.Certificate.ResourceName}}
  id = "{{.Certificate.ID}},{{.Certificate.GroupID}},{{.Certificate.ContractID}}"
}

{{- end -}}