{{- /*gotype: github.com/akamai/cli-terraform/v2/pkg/providers/mtlskeystore.TFData*/ -}}
variable "edgerc_path" {
  type = string
  default = "~/.edgerc"
}

variable "config_section" {
  type = string
  default = "{{.Section}}"
}