{{- /*gotype: github.com/akamai/cli-terraform/v2/pkg/providers/apidefinitions.TFAPIWrapperData*/ -}}
module "definition" {
    source      = "./modules/definition"
    contract_id = var.contract_id
    group_id    = var.group_id
}
{{ if .IsActiveOnStaging  }}
module "activation_staging" {
    source      = "./modules/activation"
    depends_on  = [module.definition]
    api_id      = module.definition.api_id
    api_version = module.definition.{{.StagingVersionKey}}
    network     = "STAGING"
}
{{- else}}
#module "activation_staging" {
#    source      = "./modules/activation"
#    depends_on  = [module.definition]
#    api_id      = module.definition.api_id
#    api_version = module.definition.{{.StagingVersionKey}}
#    network     = "STAGING"
#}
{{- end}}
{{ if .IsActiveOnProduction  }}
module "activation_production" {
    source      = "./modules/activation"
    depends_on  = [module.definition]
    api_id      = module.definition.api_id
    api_version = module.definition.{{.ProductionVersionKey}}
    network     = "PRODUCTION"
}
{{- else}}
#module "activation_production" {
#    source      = "./modules/activation"
#    depends_on  = [module.definition]
#    api_id      = module.definition.api_id
#    api_version = module.definition.{{.ProductionVersionKey}}
#    network     = "PRODUCTION"
#}
{{- end}}
{{ if not .IsOperationsEmpty }}
module "operations" {
    source              = "./modules/definition"
}
{{- else}}
#module "operations" {
#    source              = "./modules/definition"
#}
{{- end}}