{{- /*gotype: github.com/akamai/cli-terraform/v2/pkg/providers/apidefinitions.TFAPIWrapperData*/ -}}
terraform {
  required_providers {
    akamai = {
      source  = "akamai/akamai"
      version = ">= 6.5.0"
    }
  }
  required_version = ">= 1.0"
}

provider "akamai" {
  edgerc         = "~/.edgerc"
  config_section = "DEFAULT"
}

resource "akamai_apidefinitions_resource_operations" "{{.ResourceName}}" {
  endpoint_id = {{.ID}}
  resource_operations = jsonencode({{.Operations}})
}