{{- /*gotype: github.com/akamai/cli-terraform/v2/pkg/providers/cloudwrapper.TFCloudWrapperData*/ -}}
terraform init
terraform import akamai_cloudwrapper_configuration.{{.Configuration.ConfigurationResourceName}} {{.Configuration.ID}}
{{ if .Configuration.IsActive -}}
terraform import akamai_cloudwrapper_activation.{{.Configuration.ConfigurationResourceName}}_activation {{.Configuration.ID}}
{{ end }}