{{- /*gotype: github.com/akamai/cli-terraform/pkg/providers/gtm.TFDomainData*/ -}}
variable "edgerc_path" {
  type = string
  default = "~/.edgerc"
}

variable "config_section" {
  type = string
  default = "{{.Section}}"
}

variable "contractid" {
  type        = string
  description = "Value unknown at the time of import. Please update."
}

variable "groupid" {
  type        = string
  description = "Value unknown at the time of import. Please update."
}
