terraform init
{{ $configID:= .ConfigID -}}
{{ $version:= .Version -}}
terraform import module.security.akamai_appsec_configuration.config {{ $configID }}
terraform import module.security.akamai_appsec_advanced_settings_logging.logging {{ $configID }}
{{ if .AdvancedOptions -}}
{{ if .AdvancedOptions.AttackPayloadLogging -}}
terraform import module.security.akamai_appsec_advanced_settings_attack_payload_logging.attack_payload_logging {{ $configID }}
{{ end -}}
{{ if .AdvancedOptions.Prefetch -}}
terraform import module.security.akamai_appsec_advanced_settings_prefetch.prefetch {{ $configID }}
{{ end -}}
{{ if .AdvancedOptions.PragmaHeader -}}
terraform import module.security.akamai_appsec_advanced_settings_pragma_header.pragma_header {{ $configID }}
{{ end -}}
{{ if .AdvancedOptions.EvasivePathMatch -}}
terraform import module.security.akamai_appsec_advanced_settings_evasive_path_match.evasive_path_match {{ $configID }}
{{ end -}}
{{ if .AdvancedOptions.RequestBody -}}
terraform import module.security.akamai_appsec_advanced_settings_request_body.config_settings {{ $configID }}
{{ end -}}
{{ end -}}
{{ if .CustomRules  -}}
{{ range .CustomRules  -}}
{{ if .Tag -}}
terraform import module.security.akamai_appsec_custom_rule.{{escapeName .Name}}_{{ .ID }} {{ $configID }}:{{ .ID }}
{{ end -}}
{{ end -}}
{{ end -}}
{{ if .CustomDenyList  -}}
{{ range .CustomDenyList  -}}
terraform import module.security.akamai_appsec_custom_deny.{{escapeName .Name}}_{{ .ID }} {{ $configID }}:{{ .ID }}
{{ end -}}
{{ end -}}
{{ if .MatchTargets -}}
{{ if .MatchTargets.WebsiteTargets -}}
{{ range .MatchTargets.WebsiteTargets -}}
terraform import module.security.akamai_appsec_match_target.website_{{ .ID }} {{ $configID }}:{{ .ID }}
{{ end -}}
{{ end -}}
{{ if .MatchTargets.APITargets -}}
{{ range .MatchTargets.APITargets -}}
terraform import module.security.akamai_appsec_match_target.api_{{ .ID }} {{ $configID }}:{{ .ID }}
{{ end -}}
{{ end -}}
{{ end -}}
{{ range .SecurityPolicies -}}
{{ $policyName:= escapeName .Name -}}
{{ $policyID:= .ID -}}
{{ $wafMode:= getWAFMode $configID $version .ID -}}
terraform import module.security.akamai_appsec_security_policy.{{ $policyName}} {{ $configID }}:{{ $policyID }}
terraform import module.security.akamai_appsec_waf_protection.{{ $policyName}} {{ $configID }}:{{ $policyID }}
terraform import module.security.akamai_appsec_api_constraints_protection.{{ $policyName}} {{ $configID }}:{{ $policyID }}
terraform import module.security.akamai_appsec_ip_geo_protection.{{ $policyName}} {{ $configID }}:{{ $policyID }}
terraform import module.security.akamai_appsec_malware_protection.{{ $policyName}} {{ $configID }}:{{ $policyID }}
terraform import module.security.akamai_appsec_rate_protection.{{ $policyName}} {{ $configID }}:{{ $policyID }}
terraform import module.security.akamai_appsec_reputation_protection.{{ $policyName}} {{ $configID }}:{{ $policyID }}
terraform import module.security.akamai_appsec_slowpost_protection.{{ $policyName}} {{ $configID }}:{{ $policyID }}
terraform import module.security.akamai_appsec_waf_mode.{{ $policyName}} {{ $configID }}:{{ $policyID }}
{{ if or (eq $wafMode "KRS") (eq $wafMode "ASE_MANUAL") -}}
{{ if .WebApplicationFirewall -}}
{{ if .WebApplicationFirewall.RuleActions -}}
{{ range .WebApplicationFirewall.RuleActions -}}
terraform import module.security.akamai_appsec_rule.{{ $policyName}}_{{ getRuleNameByID $ .ID }}_{{ .ID }} {{ $configID }}:{{ $policyID }}:{{ .ID }}
{{ end -}}
{{ end -}}
{{ end -}}
{{ end -}}
{{ if .CustomRuleActions -}}
{{ range .CustomRuleActions -}}
{{ if isStructuredRule $ .ID -}}
terraform import module.security.akamai_appsec_custom_rule_action.{{ $policyName}}_{{ .ID }} {{ $configID }}:{{ $policyID }}:{{ .ID }}
{{ end -}}
{{ end -}}
{{ end -}}
{{ if .WebApplicationFirewall -}}
{{ if .WebApplicationFirewall.AttackGroupActions -}}
{{ range .WebApplicationFirewall.AttackGroupActions -}}
terraform import module.security.akamai_appsec_attack_group.{{ $policyName}}_{{ .Group }} {{ $configID }}:{{ $policyID }}:{{ .Group }}
{{ end -}}
{{ end -}}
{{ end -}}
{{ if .APIRequestConstraints -}}
{{ if .APIRequestConstraints.APIEndpoints -}}
{{ range .APIRequestConstraints.APIEndpoints -}}
terraform import module.security.akamai_appsec_api_request_constraints.{{ $policyName}}_{{ .ID }} {{ $configID }}:{{ $policyID }}:{{ .ID }}
{{ end -}}
{{ end -}}
{{ end -}}
{{ if .ClientReputation -}}
{{ if .ClientReputation.ReputationProfileActions -}}
{{ range .ClientReputation.ReputationProfileActions -}}
terraform import module.security.akamai_appsec_reputation_profile_action.{{ $policyName}}_{{ .ID }} {{ $configID }}:{{ $policyID }}:{{ .ID }}
{{ end -}}
{{ end -}}
{{ end -}}
{{ if .RatePolicyActions -}}
{{ range .RatePolicyActions -}}
terraform import module.security.akamai_appsec_rate_policy_action.{{ $policyName}}_{{ getRateNameByID $ .ID }} {{ $configID }}:{{ $policyID }}:{{ .ID }}
{{ end -}}
{{ end -}}
{{ if .MalwarePolicyActions -}}
{{ range .MalwarePolicyActions -}}
terraform import module.security.akamai_appsec_malware_policy_action.{{ $policyName}}_{{ getMalwareNameByID $ .MalwarePolicyID }} {{ $configID }}:{{ $policyID }}:{{ .MalwarePolicyID }}
{{ end -}}
{{ end -}}
{{ if .IPGeoFirewall -}}
terraform import module.security.akamai_appsec_ip_geo.{{ $policyName}} {{ $configID }}:{{ $policyID }}
{{ end -}}
{{ if .PenaltyBox -}}
terraform import module.security.akamai_appsec_penalty_box.{{ $policyName}} {{ $configID }}:{{ $policyID }}
{{ end -}}
{{ if .SlowPost -}}
terraform import module.security.akamai_appsec_slow_post.{{ $policyName}} {{ $configID }}:{{ $policyID }}
{{ end -}}
{{ if .LoggingOverrides -}}
terraform import module.security.akamai_appsec_advanced_settings_logging.{{ $policyName}} {{ $configID }}:{{ $policyID }}
{{ end -}}
{{ if .PragmaHeader -}}
{{ if .PragmaHeader.Action -}}
terraform import module.security.akamai_appsec_advanced_settings_pragma_header.{{ $policyName}} {{ $configID }}:{{ $policyID }}
{{ end -}}
{{ end -}}
{{ if .EvasivePathMatch -}}
terraform import module.security.akamai_appsec_advanced_settings_evasive_path_match.{{ $policyName}} {{ $configID }}:{{ $policyID }}
{{ end -}}
{{ if .AttackPayloadLoggingOverrides -}}
terraform import module.security.akamai_appsec_advanced_settings_attack_payload_logging.{{ $policyName}} {{ $configID }}:{{ $policyID }}
{{ end -}}
{{ if .RequestBody -}}
terraform import module.security.akamai_appsec_advanced_settings_request_body.{{ $policyName}} {{ $configID }}:{{ $policyID }}
{{ end -}}
{{ end -}}
{{ if .RatePolicies -}}
{{ range .RatePolicies -}}
terraform import module.security.akamai_appsec_rate_policy.{{ escapeName .Name}} {{ $configID }}:{{ .ID }}
{{ end -}}
{{ end -}}
{{ if .ReputationProfiles  -}}
{{ range .ReputationProfiles  -}}
terraform import module.security.akamai_appsec_reputation_profile.{{ escapeName .Name}} {{ $configID }}:{{ .ID }}
{{ end -}}
{{ end -}}
{{ if .Siem -}}
{{ if .Siem.EnableSiem -}}
terraform import module.security.akamai_appsec_siem_settings.siem {{ $configID }}
{{ end -}}
{{ end -}}
{{ if .SelectedHosts -}}
terraform import module.security.akamai_appsec_selected_hostnames.hostnames {{ $configID }}
{{ end -}}
{{ if eq .Staging.Status "Active" -}}
terraform import module.activate-security.akamai_appsec_activations.appsecactivation {{ $configID }}:{{ $version }}:STAGING
{{ end -}}
{{ if .MalwarePolicies -}}
{{ range .MalwarePolicies -}}
terraform import module.security.akamai_appsec_malware_policy.{{ escapeName .Name}} {{ $configID }}:{{ .MalwarePolicyID }}
{{ end -}}
{{ end -}}

{{ if .CustomBotCategories  -}}
{{ range .CustomBotCategories  -}}
terraform import module.security.akamai_botman_custom_bot_category.{{escapeName (index . "categoryName")}}_{{index . "categoryId"}} {{ $configID }}:{{index . "categoryId"}}
{{ if (index . "metadata" "akamaiDefinedBots") -}}
{{ range (index . "metadata" "akamaiDefinedBots") -}}
terraform import module.security.akamai_botman_recategorized_akamai_defined_bot.{{ escapeName (index . "botName") }}_{{ index . "botId" }} {{ $configID }}:{{ index . "botId" }}
{{ end -}}
{{ end -}}
{{ end -}}
{{ end -}}
{{ if .CustomBotCategorySequence  -}}
terraform import module.security.akamai_botman_custom_bot_category_sequence.custom_bot_category_sequence {{ $configID }}
{{ end -}}
{{ if .CustomDefinedBots  -}}
{{ range .CustomDefinedBots  -}}
terraform import module.security.akamai_botman_custom_defined_bot.{{escapeName (index . "botName")}}_{{index . "botId"}} {{ $configID }}:{{index . "botId"}}
{{ end -}}
{{ end -}}
{{ if .CustomClients  -}}
{{ range .CustomClients  -}}
terraform import module.security.akamai_botman_custom_client.{{escapeName (index . "customClientName")}}_{{index . "customClientId"}} {{ $configID }}:{{index . "customClientId"}}
{{ end -}}
{{ end -}}
{{ if .ResponseActions  -}}
{{ if .ResponseActions.ServeAlternateActions  -}}
{{ range .ResponseActions.ServeAlternateActions  -}}
terraform import module.security.akamai_botman_serve_alternate_action.{{escapeName (index . "actionName")}}_{{index . "actionId"}} {{ $configID }}:{{index . "actionId"}}
{{ end -}}
{{ end -}}
{{ if .ResponseActions.ChallengeActions  -}}
{{ range .ResponseActions.ChallengeActions  -}}
terraform import module.security.akamai_botman_challenge_action.{{escapeName (index . "actionName")}}_{{index . "actionId"}} {{ $configID }}:{{index . "actionId"}}
{{ end -}}
{{ end -}}
{{ if .ResponseActions.ConditionalActions  -}}
{{ range .ResponseActions.ConditionalActions  -}}
terraform import module.security.akamai_botman_conditional_action.{{escapeName (index . "actionName")}}_{{index . "actionId"}} {{ $configID }}:{{index . "actionId"}}
{{ end -}}
{{ end -}}
{{ if .ResponseActions.ChallengeInterceptionRules  -}}
terraform import module.security.akamai_botman_challenge_interception_rules.challenge_interception_rules {{ $configID }}
{{ end -}}
{{ end -}}
{{ if .AdvancedSettings -}}
{{ if .AdvancedSettings.BotAnalyticsCookieSettings -}}
terraform import module.security.akamai_botman_bot_analytics_cookie.bot_analytics_cookie {{$configID}}
{{ end -}}
{{ if .AdvancedSettings.ClientSideSecuritySettings -}}
terraform import module.security.akamai_botman_client_side_security.client_side_security {{$configID}}
{{ end -}}
{{ if .AdvancedSettings.TransactionalEndpointProtectionSettings -}}
terraform import module.security.akamai_botman_transactional_endpoint_protection.transactional_endpoint_protection {{$configID}}
{{ end -}}
{{ end -}}
{{ range .SecurityPolicies -}}
{{ $policyName:= escapeName .Name -}}
{{ $policyID:= .ID -}}
{{ if .BotManagement -}}
{{ if .BotManagement.AkamaiBotCategoryActions -}}
{{ range .BotManagement.AkamaiBotCategoryActions -}}
terraform import module.security.akamai_botman_akamai_bot_category_action.{{$policyName}}_{{ escapeName (index . "categoryName") }}_{{ index . "categoryId" }} {{$configID}}:{{$policyID}}:{{index . "categoryId"}}
{{ end -}}
{{ end -}}
{{ if .BotManagement.CustomBotCategoryActions -}}
{{ range .BotManagement.CustomBotCategoryActions -}}
terraform import module.security.akamai_botman_custom_bot_category_action.{{$policyName}}_{{ getCustomBotCategoryNameByID $.CustomBotCategories (index . "categoryId") }}_{{index . "categoryId"}} {{$configID}}:{{$policyID}}:{{index . "categoryId"}}
{{ end -}}
{{ end -}}
{{ if .BotManagement.BotDetectionActions -}}
{{ range .BotManagement.BotDetectionActions -}}
terraform import module.security.akamai_botman_bot_detection_action.{{$policyName}}_{{ escapeName (index . "detectionName") }}_{{index . "detectionId"}} {{$configID}}:{{$policyID}}:{{index . "detectionId"}}
{{ end -}}
{{ end -}}
{{ if .BotManagement.BotManagementSettings -}}
terraform import module.security.akamai_botman_bot_management_settings.{{$policyName}} {{$configID}}:{{$policyID}}
{{ end -}}
{{ if .BotManagement.JavascriptInjectionRules -}}
terraform import module.security.akamai_botman_javascript_injection.{{$policyName}} {{$configID}}:{{$policyID}}
{{ end -}}
{{ if .BotManagement.TransactionalEndpoints -}}
{{ if .BotManagement.TransactionalEndpoints.BotProtection -}}
{{ range .BotManagement.TransactionalEndpoints.BotProtection -}}
terraform import module.security.akamai_botman_transactional_endpoint.{{$policyName}}_{{(index . "operationId")}} {{$configID}}:{{$policyID}}:{{index . "operationId"}}
{{ end -}}
{{ end -}}
{{ end -}}
{{ if .BotManagement.TransactionalEndpoints -}}
{{ if .BotManagement.TransactionalEndpoints.BotProtectionExceptions -}}
terraform import module.security.akamai_botman_bot_category_exception.{{$policyName}} {{$configID}}:{{$policyID}}
{{ end -}}
{{ end -}}
{{ end -}}
{{ end -}}
