{{ $configID := .ConfigID -}}
{{ $version := .Version -}}
{{ range .SecurityPolicies -}}
{{ $policyName := escapeName .Name -}}
{{ $policyID := .ID -}}
{{ $wafMode := getWAFMode $configID $version .ID -}}
resource "akamai_appsec_waf_mode" "{{ $policyName }}" {
    config_id          = akamai_appsec_configuration.config.config_id
    security_policy_id = akamai_appsec_waf_protection.{{ $policyName }}.security_policy_id
    mode               = "{{ $wafMode }}"
}

{{ if or (eq $wafMode "KRS") (eq $wafMode "ASE_MANUAL") -}}
{{ if .WebApplicationFirewall.RuleActions -}}
// WAF Rule Actions
{{ range .WebApplicationFirewall.RuleActions -}}
// {{ getRuleDescByID $ .ID }}
resource "akamai_appsec_rule" "{{ $policyName }}_{{ getRuleNameByID $ .ID }}_{{ .ID }}" {
    config_id           = akamai_appsec_configuration.config.config_id
    security_policy_id  = akamai_appsec_waf_protection.{{ $policyName }}.security_policy_id
    rule_id             = "{{ .ID }}"
    rule_action         = "{{ .Action }}"
    {{ if or .Exception .Conditions -}}
    condition_exception = jsonencode(
  {{ if .Exception -}}
        { "exception": {{ toJSON .Exception }} }{{- if and .Exception .Conditions -}},{{- end }}
  {{ end -}}
  {{ if .Conditions -}}
        { "conditions": {{ toJSON .Conditions }} }
  {{ end -}}
)
    {{ end -}}
}

{{ end -}}
{{ end -}}
{{ end -}}

{{ if .CustomRuleActions }}
{{ range .CustomRuleActions -}}
{{ if isStructuredRule $ .ID -}}
resource "akamai_appsec_custom_rule_action" "{{ $policyName }}_{{ .ID }}" {
    config_id          = akamai_appsec_configuration.config.config_id
    security_policy_id = akamai_appsec_waf_protection.{{ $policyName }}.security_policy_id
    custom_rule_id     = akamai_appsec_custom_rule.{{ getCustomRuleNameByID $ .ID }}_{{ .ID }}.custom_rule_id
    custom_rule_action = "{{ .Action }}"
}
{{ end -}}

{{ end -}}
{{ end -}}

{{ if .WebApplicationFirewall.AttackGroupActions }}
// WAF Attack Group Actions
{{ range .WebApplicationFirewall.AttackGroupActions -}}
resource "akamai_appsec_attack_group" "{{ $policyName }}_{{ .Group }}" {
    config_id           = akamai_appsec_configuration.config.config_id
    security_policy_id  = akamai_appsec_waf_protection.{{ $policyName }}.security_policy_id
    attack_group        = "{{ .Group }}"
    attack_group_action = "{{ .Action }}"
    {{ if .Exception -}}
    condition_exception = jsonencode(
        { "exception": {{ toJSON .Exception }} }
)
    {{ end -}}
}

{{ end -}}
{{ end -}}

{{ end -}}
