{{ if .AdvancedSettings -}}
{{ if .AdvancedSettings.BotAnalyticsCookieSettings  -}}
resource "akamai_botman_bot_analytics_cookie" "bot_analytics_cookie" {
    config_id = local.config_id
    bot_analytics_cookie = jsonencode(
{{ exportJSON .AdvancedSettings.BotAnalyticsCookieSettings }}
)
}

{{ end -}}
{{ if .AdvancedSettings.ClientSideSecuritySettings  -}}
resource "akamai_botman_client_side_security" "client_side_security" {
    config_id = local.config_id
    client_side_security = jsonencode(
{{ exportJSON .AdvancedSettings.ClientSideSecuritySettings }}
)
}

{{ end -}}
{{ if .AdvancedSettings.TransactionalEndpointProtectionSettings  -}}
resource "akamai_botman_transactional_endpoint_protection" "transactional_endpoint_protection" {
    config_id = local.config_id
    transactional_endpoint_protection = jsonencode(
{{ exportJSON .AdvancedSettings.TransactionalEndpointProtectionSettings }}
)
}

{{ end -}}
{{ if .AdvancedSettings.UserRiskResponseStrategySettings  -}}
resource "akamai_apr_user_risk_response_strategy" "user_risk_response_strategy" {
    config_id = local.config_id
    user_risk_response_strategy = jsonencode(
        {{ exportJSON .AdvancedSettings.UserRiskResponseStrategySettings }}
    )
}
{{ end -}}
{{ if .AdvancedSettings.UserAllowListIdSettings  -}}
resource "akamai_apr_user_allow_list" "user_allow_list" {
    config_id = local.config_id
    user_allow_list = jsonencode(
        {{ exportJSON .AdvancedSettings.UserAllowListIdSettings }}
    )
}
{{ end -}}
{{ end -}}
