{{ range .SecurityPolicies -}}
{{ if .BotManagement -}}
{{ $policyName := escapeName .Name -}}
{{ if .BotManagement.JavascriptInjectionRules -}}
resource "akamai_botman_javascript_injection" "{{ $policyName}}" {
    config_id          = akamai_appsec_configuration.config.config_id
    security_policy_id = akamai_botman_bot_management_settings.{{ $policyName}}.security_policy_id
    javascript_injection = jsonencode(
{{ exportJSON .BotManagement.JavascriptInjectionRules }}
)
}

{{ end -}}
{{ end -}}
{{ end -}}
