{{ range .SecurityPolicies -}}
{{ $policyName := escapeName .Name -}}
// Enable/Disable Protections for policy {{ $policyName }}
resource "akamai_appsec_security_policy_protections" "{{ $policyName }}" {
    config_id                         = local.config_id
    security_policy_id                = akamai_appsec_security_policy.{{ $policyName }}.security_policy_id
    apply_account_protection_controls = {{ .SecurityControls.ApplyAccountProtectionControls }}
    apply_api_constraints             = {{ .SecurityControls.ApplyAPIConstraints }}
    apply_application_layer_controls  = {{ .SecurityControls.ApplyApplicationLayerControls }}
    apply_botman_controls             = {{ .SecurityControls.ApplyBotmanControls }}
    apply_malware_controls            = {{ .SecurityControls.ApplyMalwareControls }}
    apply_network_layer_controls      = {{ .SecurityControls.ApplyNetworkLayerControls }}
    apply_rate_controls               = {{ .SecurityControls.ApplyRateControls }}
    apply_reputation_controls         = {{ .SecurityControls.ApplyReputationControls }}
    apply_slow_post_controls          = {{ .SecurityControls.ApplySlowPostControls }}
    apply_url_protection_controls     = {{ .SecurityControls.ApplyURLProtectionControls }}
}

{{ if .BotManagement -}}
{{ if .BotManagement.BotManagementSettings -}}
resource "akamai_botman_bot_management_settings" "{{ $policyName}}" {
    config_id          = local.config_id
    security_policy_id = akamai_appsec_security_policy_protections.{{ $policyName}}.security_policy_id
    bot_management_settings = jsonencode(
{{ exportJSON .BotManagement.BotManagementSettings }}
)
}
{{ end -}}
{{ end -}}

{{ end -}}
