{{ if .RatePolicies -}}
{{ range .RatePolicies -}}
resource "akamai_appsec_rate_policy" "{{ escapeName .Name }}" {
    config_id   = akamai_appsec_configuration.config.config_id
    rate_policy = jsonencode(
{{ exportJSON . }}
)
}

{{ end -}}
{{ end -}}
