{{if .ResponseActions -}}
{{ if .ResponseActions.ServeAlternateActions  -}}
{{ range .ResponseActions.ServeAlternateActions  -}}
resource "akamai_botman_serve_alternate_action" "{{escapeName (index . "actionName")}}_{{index . "actionId"}}" {
    config_id = local.config_id
    serve_alternate_action = jsonencode(
{{ exportJSONWithoutKeys . "actionId" }}
)
}

{{ end -}}
{{ end -}}
{{ if .ResponseActions.ChallengeActions  -}}
{{ range .ResponseActions.ChallengeActions  -}}
    resource "akamai_botman_challenge_action" "{{escapeName (index . "actionName")}}_{{index . "actionId"}}" {
    config_id = local.config_id
    challenge_action = jsonencode(
{{ exportJSONWithoutKeys . "actionId" }}
)
}

{{ end -}}
{{ end -}}
{{ if .ResponseActions.ConditionalActions  -}}
{{ range .ResponseActions.ConditionalActions  -}}
    resource "akamai_botman_conditional_action" "{{escapeName (index . "actionName")}}_{{index . "actionId"}}" {
    config_id = local.config_id
    conditional_action = jsonencode(
{{ exportJSONWithoutKeys . "actionId" }}
)
}

{{ end -}}
{{ end -}}
{{ if .ResponseActions.ChallengeInjectionRules  -}}
resource "akamai_botman_challenge_injection_rules" "challenge_injection_rules" {
    config_id = local.config_id
    challenge_injection_rules = jsonencode(
{{ exportJSON .ResponseActions.ChallengeInjectionRules }}
)
}

{{ end -}}
{{ end -}}
