{{ if .CustomDenyList  -}}
{{ range .CustomDenyList  -}}
resource "akamai_appsec_custom_deny" "{{escapeName .Name}}_{{ .ID }}" {
    config_id   = akamai_appsec_configuration.config.config_id
    custom_deny = jsonencode(
{{ exportJSON . }}
)
}

{{ end -}}
{{ end -}}
