variable "name" {
    type = string
}

{{ if ne .TargetProduct "WAP" -}}
variable "hostnames" {
    type = list(string)
}

{{ end -}}

variable "description" {
    type = string
}

variable "contract_id" {
    type = string
}

variable "group_name" {
    type = string
}
