{{ $configID := .ConfigID -}}
{{ $version := .Version -}}
{{ range .SecurityPolicies -}}
{{ $policyName := escapeName .Name -}}
{{ $policyID := .ID -}}
{{ $wafMode := getWAFMode $configID $version .ID -}}
resource "akamai_appsec_waf_mode" "{{ $policyName }}" {
    config_id          = local.config_id
    security_policy_id = akamai_appsec_security_policy.{{ $policyName }}.security_policy_id
    mode               = "{{ $wafMode }}"
}

{{ if .CustomRuleActions }}
{{ range .CustomRuleActions -}}
{{ if isStructuredRule $ .ID -}}
resource "akamai_appsec_custom_rule_action" "{{ $policyName }}_{{ .ID }}" {
    config_id          = local.config_id
    security_policy_id = akamai_appsec_security_policy.{{ $policyName }}.security_policy_id
    custom_rule_id     = akamai_appsec_custom_rule.{{ getCustomRuleNameByID $ .ID }}_{{ .ID }}.custom_rule_id
    custom_rule_action = "{{ .Action }}"
}
{{ end -}}

{{ end -}}
{{ end -}}

{{ end -}}
