{{ range .SecurityPolicies -}}
{{ $policyName := escapeName .Name -}}
{{ if .PenaltyBox -}}
// Penalty Box
resource "akamai_appsec_penalty_box" "{{ $policyName }}" {
    config_id              = local.config_id
    security_policy_id     = akamai_appsec_security_policy.{{ $policyName}}.security_policy_id
    penalty_box_protection = {{ .PenaltyBox.PenaltyBoxProtection }}
    penalty_box_action = "{{ .PenaltyBox.Action }}"
}
{{ end -}}

{{ if .PenaltyBoxConditions -}}
// Penalty Box Conditions
resource "akamai_appsec_penalty_box_conditions" "{{ $policyName }}" {
    config_id              = local.config_id
    security_policy_id     = akamai_appsec_security_policy.{{ $policyName}}.security_policy_id
    penalty_box_conditions = jsonencode(
        {{ toJSON .PenaltyBoxConditions }}
    )
}

{{ end -}}
{{ end -}}
