variable "group_name" {
    default = ""
}

variable "contract_id" {
    default = ""
}

variable "name" {
    default = "{{ .ConfigName }}"
}

variable "description" {
    default = "{{ getConfigDescription .ConfigID }}"
}

variable "hostnames" {
    default = [{{ toList .SelectedHosts }}]
}

variable "emails" {
    default = ["noreply@example.org"]
}

variable "activation_note" {
    default = "Activated by Terraform"
}

variable "network" {
    default = "STAGING"
}
