{{- /*gotype: github.com/akamai/cli-terraform/cloudlets.TFPolicyData*/ -}}
{{- if and (.MatchRules) (eq .CloudletCode "ALB")}}
{{- template "match-rules-alb.tmpl" .}}
{{end -}}
{{- if and (.MatchRules) (eq .CloudletCode "ER")}}
{{- template "match-rules-er.tmpl" .}}
{{end -}}
{{- if and (.MatchRules) (eq .CloudletCode "FR")}}
{{- template "match-rules-fr.tmpl" .}}
{{end -}}
