{{- /*gotype: github.com/akamai/cli-terraform/v2/papi.TFData*/ -}}
terraform init
{{- range .Property.EdgeHostnames}}
terraform import akamai_edge_hostname.{{.EdgeHostnameResourceName}} {{.EdgeHostnameID}},{{.ContractID}},{{.GroupID}}
{{- end}}
{{- if .Property.PropertyID}}
{{- if .UseBootstrap}}
terraform import akamai_property_bootstrap.{{.Property.PropertyResourceName}} {{.Property.PropertyID}},{{.Property.ContractID}},{{.Property.GroupID}}
terraform import akamai_property.{{.Property.PropertyResourceName}} {{.Property.PropertyID}},{{.Property.ContractID}},{{.Property.GroupID}},{{.Property.ReadVersion}},property-bootstrap
{{- else}}
terraform import akamai_property.{{.Property.PropertyResourceName}} {{.Property.PropertyID}},{{.Property.ContractID}},{{.Property.GroupID}},{{.Property.ReadVersion}}
{{- end}}
{{- end}}
{{- if and .Property.PropertyID .Property.StagingInfo.HasActivation}}
terraform import akamai_property_activation.{{.Property.PropertyResourceName}}-staging {{.Property.PropertyID}}:STAGING
{{- end}}
{{- if and .Property.PropertyID .Property.ProductionInfo.HasActivation}}
terraform import akamai_property_activation.{{.Property.PropertyResourceName}}-production {{.Property.PropertyID}}:PRODUCTION
{{- end}}
{{- range $include := .Includes}}
terraform import akamai_property_include.{{.IncludeName}} {{.ContractID}}:{{.GroupID}}:{{.IncludeID}}
{{- if $include.StagingInfo.HasActivation}}
terraform import akamai_property_include_activation.{{$include.IncludeName}}_staging {{$include.ContractID}}:{{$include.GroupID}}:{{$include.IncludeID}}:STAGING
{{- end}}
{{- if $include.ProductionInfo.HasActivation}}
terraform import akamai_property_include_activation.{{$include.IncludeName}}_production {{$include.ContractID}}:{{$include.GroupID}}:{{$include.IncludeID}}:PRODUCTION
{{- end}}
{{- end}}
{{- if and .Property.HostnameBucket .Property.HostnameBucket.HasStagingActivation}}
terraform import akamai_property_hostname_bucket.{{.Property.PropertyResourceName}}-hostname-bucket-staging {{.Property.PropertyID}}:STAGING:{{.Property.ContractID}}:{{.Property.GroupID}}
{{- end}}
{{- if and .Property.HostnameBucket .Property.HostnameBucket.HasProductionActivation}}
terraform import akamai_property_hostname_bucket.{{.Property.PropertyResourceName}}-hostname-bucket-production {{.Property.PropertyID}}:PRODUCTION:{{.Property.ContractID}}:{{.Property.GroupID}}
{{- end}}
