{{- /*gotype: github.com/akamai/cli-terraform/papi.TFData*/ -}}
terraform init
{{- range .EdgeHostnames}}
terraform import akamai_edge_hostname.{{.EdgeHostnameResourceName}} {{.EdgeHostnameID}},{{.ContractID}},{{.GroupID}}
{{- end}}
terraform import akamai_property.{{.PropertyResourceName}} {{.PropertyID}},{{.ContractID}},{{.GroupID}}
