{{- /*gotype: github.com/akamai/cli-terraform/pkg/providers/papi.TFData*/ -}}
{{- if not .Property.PropertyID -}}
terraform {
  required_providers {
    akamai = {
      source  = "akamai/akamai"
      version = ">= 5.4.0"
    }
  }
  required_version = ">= 0.13"
}

provider "akamai" {
  edgerc = var.edgerc_path
  config_section = var.config_section
}

{{ end }}
{{- range $include := .Includes }}
{{- if not $.RulesAsSchema}}
data "akamai_property_rules_template" "rules_{{.IncludeName}}" {
  template_file = abspath("${path.module}/property-snippets/{{.IncludeName}}.json")
}
{{- end}}

/*
data "akamai_property_include_parents" "{{.IncludeName}}" {
  contract_id = "{{.ContractID}}"
  group_id    = "{{.GroupID}}"
  include_id  = "{{.IncludeID}}"
}
*/

resource "akamai_property_include" "{{.IncludeName}}" {
  contract_id = "{{.ContractID}}"
  group_id = "{{.GroupID}}"
  name = "{{.IncludeName}}"
  type = "{{.IncludeType}}"
{{- if $.RulesAsSchema}}
{{- if .Rules}}
  rule_format = data.akamai_property_rules_builder.{{(index .Rules 0).TerraformName}}.rule_format
  rules       = data.akamai_property_rules_builder.{{(index .Rules 0).TerraformName}}.json
{{- else}}
  rule_format = "{{.RuleFormat}}"
{{- end}}
{{- else}}
  rule_format = "{{.RuleFormat}}"
  rules = data.akamai_property_rules_template.rules_{{.IncludeName}}.json
{{- end}}
}
{{- range $network := .Networks}}

resource "akamai_property_include_activation" "{{$include.IncludeName}}_{{$network | ToLower}}" {
  contract_id = akamai_property_include.{{$include.IncludeName}}.contract_id
  group_id = akamai_property_include.{{$include.IncludeName}}.group_id
  include_id = akamai_property_include.{{$include.IncludeName}}.id
  network = "{{$network}}"
  auto_acknowledge_rule_warnings = false
{{- if eq $network "STAGING"}}
  version = "{{$include.VersionStaging}}"
{{- if $include.ActivationNoteStaging}}
  note = {{template "Text" $include.ActivationNoteStaging}}
{{- end}}
  notify_emails = [{{range $index, $element := $include.ActivationEmailsStaging}}{{if $index}}, {{end}}"{{$element}}"{{end}}]
{{- end}}
{{- if eq $network "PRODUCTION"}}
  version = "{{$include.VersionProduction}}"
{{- if $include.ActivationNoteProduction}}
  note = {{template "Text" $include.ActivationNoteProduction}}
{{- end}}
  notify_emails = [{{range $index, $element := $include.ActivationEmailsProduction}}{{if $index}}, {{end}}"{{$element}}"{{end}}]
{{- end}}
}
{{- end}}
{{- end}}