variable "edgerc_path" {
  type = string
  default = "~/.edgerc"
}

variable "config_section" {
  type = string
  default = "{{.Section}}"
}

{{- if and .Property.PropertyID .Property.HasStagingActivation}}

variable "env" {
  type    = string
  default = "staging"
}
{{ else }}

#variable "env" {
#  type    = string
#  default = "staging"
#}
{{ end -}}