{{- /*gotype: github.com/akamai/cli-terraform/v2/pkg/providers/cloudaccess.TFCloudAccessData*/ -}}
variable "edgerc_path" {
  type = string
  default = "~/.edgerc"
}

variable "config_section" {
  type = string
  default = "{{.Section}}"
}
{{- with .Key.CredentialA}}

variable "secret_access_key_a" {
  type    = string
  sensitive = true
}
{{- end -}}
{{with .Key.CredentialB}}

variable "secret_access_key_b" {
  type    = string
  sensitive = true
}
{{- end}}