{{- /*gotype: github.com/akamai/cli-terraform/v2/pkg/providers/domainownership.TFData*/ -}}
variable "edgerc_path" {
  type = string
  default = "{{.EdgeRCPath}}"
}

variable "config_section" {
  type = string
  default = "{{.Section}}"
}
