{{- /*gotype: github.com/akamai/cli-terraform/cloudlets.TFEdgeKVData*/ -}}
terraform {
  required_providers {
    akamai = {
      source = "akamai/akamai"
      version = "~> 2.0.0"
    }
  }
  required_version = ">= 0.13"
}

provider "akamai" {
  edgerc         = var.edgerc_path
  config_section = var.config_section
}

resource "akamai_edgekv" "edgekv" {
  namespace_name       = "{{.Name}}"
  network              = "{{.Network}}"
  group_id             = {{.GroupID}}
  retention_in_seconds = {{.Retention}}
  geo_location         = "{{.GeoLocation}}"
}
