{{- /*gotype: github.com/akamai/cli-terraform/v2/pkg/providers/cloudlets.TFPolicyData*/ -}}
terraform init
{{- range .LoadBalancers }}
terraform import akamai_cloudlets_application_load_balancer.load_balancer_{{ .OriginID }} {{ .OriginID }}
{{- end }}
{{- range .LoadBalancerActivations }}
  {{- range .Activations }}
    {{- if not .Commented }}
terraform import akamai_cloudlets_application_load_balancer_activation.load_balancer_activation_{{.OriginID}}_{{.Network}} {{.OriginID}},{{.Network}},{{.Version}}
    {{- end }}
  {{- end }}
{{- end }}
terraform import akamai_cloudlets_policy.policy {{.Name}}
{{- range .PolicyActivations.Activations }}
  {{- if and (not .Commented) }}
terraform import akamai_cloudlets_policy_activation.policy_activation_{{.Network}} {{ .PolicyID }}:{{ .Network }}
  {{- end }}
{{- end }}