{{- /*gotype: github.com/akamai/cli-terraform/pkg/providers/cloudlets.TFPolicyData*/ -}}
terraform init
{{- range .LoadBalancers}}
terraform import akamai_cloudlets_application_load_balancer.load_balancer_{{.OriginID}} {{.OriginID}}
{{- end}}
{{- range .LoadBalancerActivations}}
terraform import akamai_cloudlets_application_load_balancer_activation.load_balancer_activation_{{.OriginID}} {{.OriginID}},{{.Network}},{{.Version}}
{{- end}}
terraform import akamai_cloudlets_policy.policy {{.Name}}
{{- with .PolicyActivations -}}
{{- if (and .Production .Staging) -}}
{{/* PRODUCTION and STAGING*/}}
{{- if (deepequal .Production.Properties .Staging.Properties) -}}
{{/* PRODUCTION.prop == STAGING.prop => res block */}}
terraform import akamai_cloudlets_policy_activation.policy_activation {{.Production.PolicyID}}:prod
{{- end}}
{{- else if .Production -}}
{{/* PRODUCTION and not STAGING => res block*/}}
terraform import akamai_cloudlets_policy_activation.policy_activation {{.Production.PolicyID}}:prod
{{- else if .Staging  -}}
{{/* STAGING and not PRODUCTION => res block*/}}
terraform import akamai_cloudlets_policy_activation.policy_activation {{.Staging.PolicyID}}:staging
{{- end -}}
{{- end}}