{{- /*gotype: github.com/akamai/cli-terraform/pkg/providers/cloudlets.TFPolicyData*/ -}}
{{- if and (.MatchRules) (eq .CloudletCode "ALB")}}
{{- template "match-rules-alb.tmpl" .}}
{{end -}}
{{- if and (.MatchRules) (eq .CloudletCode "AP")}}
{{- template "match-rules-ap.tmpl" .}}
{{end -}}
{{- if and (.MatchRules) (eq .CloudletCode "AS")}}
{{- template "match-rules-as.tmpl" .}}
{{end -}}
{{- if and (.MatchRules) (eq .CloudletCode "CD")}}
{{- template "match-rules-cd.tmpl" .}}
{{end -}}
{{- if and (.MatchRules) (eq .CloudletCode "ER")}}
{{- template "match-rules-er.tmpl" .}}
{{end -}}
{{- if and (.MatchRules) (eq .CloudletCode "FR")}}
{{- template "match-rules-fr.tmpl" .}}
{{end -}}
{{- if and (.MatchRules) (eq .CloudletCode "IG")}}
{{- template "match-rules-ig.tmpl" .}}
{{end -}}
{{- if and (.MatchRules) (eq .CloudletCode "VP")}}
{{- template "match-rules-vp.tmpl" .}}
{{end -}}
