{{- /*gotype: github.com/akamai/cli-terraform/pkg/providers/cloudlets.TFPolicyData*/ -}}
terraform {
  required_providers {
    akamai = {
      source = "akamai/akamai"
      version = ">= 5.6.0"
    }
  }
  required_version = ">= 0.13"
}

provider "akamai" {
  edgerc = var.edgerc_path
  config_section = var.config_section
}

resource "akamai_cloudlets_policy" "policy" {
  name = "{{.Name}}"
  cloudlet_code = "{{.CloudletCode}}"
  description = "{{escape .Description}}"
  group_id = "{{.GroupID}}"
  {{- if not .IsV3}}
  match_rule_format = "{{.MatchRuleFormat}}"
  {{- end}}
{{- if and (.MatchRules) (eq .CloudletCode "ALB")}}
  match_rules = data.akamai_cloudlets_application_load_balancer_match_rule.match_rules_alb.json
{{- end}}
{{- if and (.MatchRules) (eq .CloudletCode "AP")}}
  match_rules = data.akamai_cloudlets_api_prioritization_match_rule.match_rules_ap.json
{{- end}}
{{- if and (.MatchRules) (eq .CloudletCode "AS")}}
  match_rules = data.akamai_cloudlets_audience_segmentation_match_rule.match_rules_as.json
{{- end}}
{{- if and (.MatchRules) (eq .CloudletCode "CD")}}
  match_rules = data.akamai_cloudlets_phased_release_match_rule.match_rules_cd.json
{{- end}}
{{- if and (.MatchRules) (eq .CloudletCode "ER")}}
  match_rules = data.akamai_cloudlets_edge_redirector_match_rule.match_rules_er.json
{{- end}}
{{- if and (.MatchRules) (eq .CloudletCode "FR")}}
  match_rules = data.akamai_cloudlets_forward_rewrite_match_rule.match_rules_fr.json
{{- end}}
{{- if and (.MatchRules) (eq .CloudletCode "IG")}}
  match_rules = data.akamai_cloudlets_request_control_match_rule.match_rules_ig.json
{{- end}}
{{- if and (.MatchRules) (eq .CloudletCode "VP")}}
  match_rules = data.akamai_cloudlets_visitor_prioritization_match_rule.match_rules_vp.json
{{- end}}
  is_shared = {{.IsV3}}
}
{{template "policy-activation.tmpl" .PolicyActivations}}