{{- /*gotype: github.com/akamai/cli-terraform/pkg/providers/cloudlets.TFPolicyData*/ -}}
{{define "resource_block" -}}
resource "akamai_cloudlets_policy_activation" "policy_activation" {
  policy_id = tonumber(akamai_cloudlets_policy.policy.id)
  network = var.env
  version = akamai_cloudlets_policy.policy.version
  associated_properties = [ {{range $i, $v := .Properties}}{{if $i}}, {{end}}"{{$v}}"{{end}} ]
}
{{end -}}
{{define "comment_block" -}}
/*
resource "akamai_cloudlets_policy_activation" "policy_activation" {
  policy_id = tonumber(akamai_cloudlets_policy.policy.id)
  network = var.env
  version = akamai_cloudlets_policy.policy.version
  associated_properties = [ "UNKNOWN_CHANGE_ME" ]
}
*/
{{end -}}

{{- if (and .prod .staging) -}}
{{/* PRODUCTION and STAGING*/}}
{{- if (deepequal .prod.Properties .staging.Properties) }}
{{/* PRODUCTION.prop == STAGING.prop => res block */}}
{{- template "resource_block" .prod}}
{{- else }}
{{/* PRODUCTION.prop != STAGING.prop => comment block*/}}
{{- template "comment_block" .}}
{{- end}}
{{- else if .prod }}
{{/* PRODUCTION and not STAGING => res block*/}}
{{- template "resource_block" .prod}}
{{- else if .staging }}
{{/* STAGING and not PRODUCTION => res block*/}}
{{- template "resource_block" .staging}}
{{- else }}
{{/* not PRODUCTION and not STAGING => comment block*/}}
{{- template "comment_block" .}}
{{- end}}