{{- /*gotype: github.com/akamai/cli-terraform/v3/pkg/providers/cloudlets.TFPolicyData*/ -}}
variable "edgerc_path" {
  type    = string
  default = "{{.EdgercPath}}"
}

variable "config_section" {
  type    = string
  default = "{{.Section}}"
}
