{{- /*gotype: github.com/akamai/cli-terraform/v2/pkg/providers/cloudlets.TFPolicyData*/ -}}
variable "edgerc_path" {
  type    = string
  default = "~/.edgerc"
}

variable "config_section" {
  type    = string
  default = "{{.Section}}"
}
{{``}}
{{- define "env_variable_stag"}}
variable "env" {
  type    = string
  default = "staging"
}
{{- end}}
{{- define "env_variable_prod"}}
variable "env" {
  type    = string
  default = "prod"
}
{{- end}}
{{- define "comment_env_variable"}}
/*
variable "env" {
  type    = string
  default = "staging"
}
*/
{{- end}}
{{- if (and .PolicyActivations.Production .PolicyActivations.Staging) -}}
  {{- /* PRODUCTION and STAGING*/}}
  {{- if (deepequal .PolicyActivations.Production.Properties .PolicyActivations.Staging.Properties) }}
    {{- /* PRODUCTION.prop == STAGING.prop => res block */}}
    {{- template "env_variable_prod" .}}
  {{- else }}
    {{- /* PRODUCTION.prop != STAGING.prop => comment block*/}}
    {{- template "comment_env_variable" .}}
  {{- end}}
{{- else if .PolicyActivations.Production }}
  {{- /* PRODUCTION and not STAGING => res block*/}}
  {{- template "env_variable_prod" .}}
{{- else if .PolicyActivations.Staging }}
  {{- /* STAGING and not PRODUCTION => res block*/}}
  {{- template "env_variable_stag" .}}
{{- else }}
  {{- /* not PRODUCTION and not STAGING => comment block*/}}
  {{- if .LoadBalancers }}
    {{- template "env_variable_stag" .}}
  {{- else }}
    {{- template "comment_env_variable" .}}
  {{- end}}
{{- end}}
