{{- /*gotype: github.com/akamai/cli-terraform/v2/pkg/providers/reportinggroups.TFData*/ -}}
terraform init
terraform import akamai_reportinggroups_group.{{.Group.ResourceName}} {{.Group.ReportingGroupID}}
