{{- /*gotype: github.com/akamai/cli-terraform/v2/pkg/providers/mtlstruststore.TFData*/ -}}
terraform init

terraform import akamai_mtlstruststore_ca_set.{{.CASet.ResourceName}} "{{.CASet.ID}}"
{{- range .CASet.Networks}}
{{if not .HasActivation}}#{{end}}terraform import akamai_mtlstruststore_ca_set_activation.{{$.CASet.ResourceName}}-{{.NetworkName}} "{{$.CASet.ID}}:{{.NetworkName | toUpper}}"
{{- end}}
